/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  margin-top: 4em;
  padding-bottom: 2em;
  border-top: 1px solid var(--global-border-color);
  background-color: var(--global-bg-color);
  color: var(--global-text-color-light);
  text-align: center;

  footer {
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 1em;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: var(--global-text-color);
    }
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
}

.page__footer-follow {
  display: none; /* Hide follow links for extreme simplicity */
}
