/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  background: var(--global-bg-color);
  border-bottom: 1px solid var(--global-border-color);
  margin-bottom: 2em;

  &__inner-wrap {
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint($medium) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    font-family: $header-font-family;
    font-size: $type-size-3;
    font-weight: bold;
    margin-bottom: 1em;

    @include breakpoint($medium) {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: var(--global-text-color);
    }
  }

  &__nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      margin: 0 0.5em;
      font-size: $type-size-6;

      &.selected a {
        font-weight: bold;
        text-decoration: underline;
      }

      a {
        text-decoration: none;
        color: var(--global-masthead-link-color);

        &:hover {
          color: var(--global-masthead-link-color-hover);
          text-decoration: underline;
        }
      }
    }
  }
}
